
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ededed;
    padding: 10px 20px;
  }

  .navbar-logo {
    color: #c4c4c4;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
  }

  .navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
  }

  .navbar-link {
    color: #000000;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s;
  }
  
  .navbar-link:hover {
    color: #616161;
  }

  .navbar-logo{
    width: 5rem;
    padding: 0;
  }

  @media (max-width: 768px) {
    .navbar-links {
      flex-direction: column;
      gap: 10px;
    }
  }
  