
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    height: 66px;
    margin: 0 auto; 
    border: 2px solid #ccc; 
  }

  .navbar-logo {
    color: #c4c4c4;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
  }

  .navbar-links {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
  }

  .navbar-link {
    color: #000000;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
  }
  
  .navbar-link:hover {
    color: #616161;
  }

  .navbar-logo{
    width: 5rem;
    padding: 0;
  }

  @media (max-width: 768px) {

    .navbar {
      flex-direction: column; 
    }
    .navbar-links {
      flex-direction: column;
      gap: 10px;
    }
  }
  